:root {
  --unit: 16px;
  --padding: calc(var(--unit) * 2);
}

body,
main {
  padding: var(--padding);
}

main {
  --columns: 4;
  --totalGutters: calc(var(--columns) - 1);
  --availableSpace: calc(100% - var(--totalGutters) * var(--unit));
  --columnWidth: calc(var(--availableSpace) / var(--columns));
  --gutterWidth: var(--unit);
  min-height: calc(100vh - 2 * var(--padding));
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

.item {
  --span: 1;
  --shift: 0;
  width: calc(
    (var(--columnWidth) * var(--span)) +
      (var(--gutterWidth) * (var(--span) - 1))
  );
  margin-right: var(--gutterWidth);
  height: 150px;
  background-color: var(--blue);
  margin-left: calc(
    (var(--columnWidth) * (var(--shift))) +
      (var(--gutterWidth) * (var(--shift)))
  );
  margin-bottom: var(--gutterWidth);
}

.item:last-child {
  margin-right: 0;
}

nav.item,
header.item {
  --span: 4;
  margin-right: 0;
}

article.item {
  --span: 3;
}

aside.item {
  margin-right: 0;
}

footer.item {
  --span: 4;
}

@media (min-width: 600px) {
  main {
    --columns: 6;
  }

  nav.item {
    --span: 3;
    margin-right: var(--gutterWidth);
  }

  header.item {
    --span: 3;
    margin-right: 0;
  }

  article.item {
    --span: 4;
    --shift: 1;
  }

  aside.item {
    margin-right: 0;
  }

  footer.item {
    --span: 6;
  }
}
