:root {
  --unit: 16px;
  --padding: calc(var(--unit) * 2);
}

body,
main {
  padding: var(--padding);
}

main {
  --columns: 6;
  --totalGutters: calc(var(--columns) - 1);
  --availableSpace: calc(100% - var(--totalGutters) * var(--unit));
  --columnWidth: calc(var(--availableSpace) / var(--columns));
  --gutterWidth: var(--unit);
  height: calc(100vh - 2 * var(--padding));
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

.item {
  width: var(--columnWidth);
  margin-right: var(--gutterWidth);
  height: 100%;
  background-color: var(--blue);
}

.item:last-child {
  margin-right: 0;
}
