main {
  width: 500px;
  padding: 50px;
  counter-reset: calorie-counter;
}

li {
  margin-bottom: 20px;
  margin-left: 50px;

  --bad: hsl(0, 50%, 50%);
  --normal: hsl(50, 50%, 50%);
  --good: hsl(100, 50%, 50%);
}

.food[data-calorie-categorie="low"] {
  counter-increment: calorie-counter 50;
  color: var(--good);
}
.food[data-calorie-categorie="medium"] {
  counter-increment: calorie-counter 100;
  color: var(--normal);
}
.food[data-calorie-categorie="high"] {
  counter-increment: calorie-counter 200;
  color: var(--bad);
}

.workout[data-calorie-categorie="low"] {
  counter-increment: calorie-counter -50;
  color: var(--bad);
}
.workout[data-calorie-categorie="medium"] {
  counter-increment: calorie-counter -100;
  color: var(--normal);
}
.workout[data-calorie-categorie="high"] {
  counter-increment: calorie-counter -200;
  color: var(--good);
}

.result::after {
  content: "Total calorie count for the day: " counter(calorie-counter);
}
