main {
  padding: 50px;
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"] + label {
  display: block;
  width: 200px;
  height: 100px;
  padding: 36px;
  text-align: center;
  cursor: pointer;
  transform: scale(1);
  background-color: var(--grey);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 300ms, transform 300ms, background-color 300ms;
}

[type="checkbox"]:checked + label {
  transform: scale(1.1);
  background-color: var(--green);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
