main {
  padding: 50px;
  height: 100%;
}

[type="radio"] {
  display: none;
}

[type="radio"]:checked + .tab {
  background-color: var(--blue);
}

.tab:hover {
  text-decoration: underline;
}

.tab {
  display: block;
  float: left;
  width: calc(100% / 3);
  padding: 10px;
  background-color: var(--grey);
  text-align: center;
  cursor: pointer;
}

[id^="content"] {
  display: none;
  padding: 50px;
  background-color: var(--blue);
}

#home:checked ~ #content-home,
#work:checked ~ #content-work,
#contact:checked ~ #content-contact {
  display: block;
}
