main {
  padding: 20px;
}

a:link {
  color: var(--blue);
  text-decoration: none;
}

a:visited {
  color: var(--grey);
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: var(--dark-blue);
}
