html {
  scroll-behavior: smooth;
}

#to-top {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px 20px;
  background-color: var(--dark-blue);
  color: white;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  border-radius: 20px;
}

#to-top:hover {
  text-decoration: underline;
}
